.cover__subtitle {
  width: 30.4%;
  margin: 0;
  padding-top: 32px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    width: 35.2%;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    width: 46.9%;
  }
}

@media screen and (max-width: 428px) {
  .cover__subtitle {
    width: 70%;
    padding-top: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    width: 90%;
    font-size: 14px;
    line-height: 16px;
  }
}
