.place__paragraph {
	margin: 0;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
  }

  .place__paragraph:last-of-type {
	padding-top: 26px;
  }

  .place__paragraph:first-of-type {
	padding-top: 0;
  }

  @media screen and (max-width: 768px) {
	.place__paragraph {
		font-size: 16px;
		line-height: 26px;
	}	
	.place__paragraph:last-of-type {
		padding-top: 25px;
	  }
	.place__paragraph:first-of-type {
		padding-top: 0;
	}
  }

  @media screen and (max-width: 428px) {
	.place__paragraph {
		font-size: 10px;
		line-height: 12px;
	}	
	.place__paragraph:last-of-type {
		padding-top: 12px;
	  }
	.place__paragraph:first-of-type {
		padding-top: 0;
	}
  }

  @media screen and (max-width: 320px) {
	.place__paragraph {
		width: 288px;
		margin: 0 16px;
		font-size: 16px;
		line-height: 26px;
	}	
	.place__paragraph:last-of-type {
		padding-top: 25px;
	}
	.place__paragraph:first-of-type {
		padding-top: 32px;
	  }
  }