.intro {
  display: flex;
  margin: 0 0 0 148px;
  padding-top: 92px;
  max-width: 690px;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding-top: 88px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 428px) {
  .intro {
    max-width: 390px;
    padding-top: 48px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    padding-top: 64px;
    margin-left: 16px;
  }
}
