.cover__overlay {
	background: #2A2C2F;
	opacity: 0.3;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
  }

  .cover__overlay:hover {
	background: #2A2C2F;
	transition: 0.8s ease;
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
  }