.place {	
	width: 100%;
	display: grid;
	grid-template-columns: 49.57% 1fr;
	grid-template-areas: 
	"place__title place__website"
	"place__image place__paragraph";
	column-gap: 40px;
	row-gap: 48px;
	flex-direction: row;
	margin: 0;
	padding-top: 80px;
  }

  .place:first-of-type {
	padding-top: 0;
  }

  @media screen and (max-width: 1024px) {
	.place {
		grid-template-columns: 44.72% 1fr;
		column-gap: 32px;
	}
  }

  @media screen and (max-width: 768px) {
	.place {
		grid-template-columns: 47.22% 1fr;
		column-gap: 28px;
		padding-top: 73px;
	}
  }

  @media screen and (max-width: 428px) {
	.place {
		grid-template-columns: 49.16% 1fr;
		column-gap: 18px;
		row-gap: 20px;
		padding-top: 44px;
	}
  }

  @media screen and (max-width: 320px) {
	.place {
		width: 90%;
		grid-template-columns: 1fr;
		grid-template-areas:
		"place__title"
		"place__website"
		"place__image"
		"place__paragraph";
		row-gap: 0;
		padding-top: 50px;
	}
  }