.intro__title {
  margin: 0;
  color: #fff;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 666px) {
  .intro__title {
    max-width: 90%;
    line-height: 45px;
    font-size: 9vw;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 10vw;
    line-height: 35px;
  }
}
